:root{
    --h1-size: 1em;
    --h2-size: 0.8em;
    --h3-size: 0.6em;
    --h4-size: 0.4em;
    --text-transform: none;

}
/* 布局 */
div.slides{
    width: 100% !important;
    height: 100% !important;
}
.reveal .slides>section{
    max-height: 100%;
    overflow: auto;
}

/* 标题 */
.reveal h1{
    font-size: var(--h1-size);
    text-align: left;
}
.reveal h2{
    font-size: var(--h2-size);
    text-transform: var(--text-transform);
}
.reveal h3{
    font-size: var(--h3-size);
    text-transform: var(--text-transform);

}
.reveal h4{
    font-size: var(--h4-size);
    text-transform: var(--text-transform);

}
